.title {
  font-family: "Germania One";
  color: var(--color-title-color);  font-weight: 400;
  font-style: normal;
}

.article-card {
  transition: transform 0.3s cubic-bezier(.4,0,.2,1);
}

.article-card:hover {
  transform: rotate(0deg) translateY(0px) !important;
}