@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');


.scd-font {
    font-family:"UnifrakturCook";
}

#hero-stroke-text {
    color: transparent;
    background: transparent;
    -webkit-text-stroke: 1px rgba(255,255,255,0.7);
    text-stroke: 1px rgba(255,255,255,0.5);
    text-shadow: 0 2px 8px rgba(0,0,0,0.25);
}