@theme {
  --color-bg-color: #0e0d0d;
  --color-txt-color: #eeeeee;
  --color-title-color: #BBC6C7;
  --color-redc:#A7001E;
}

.glass-morph {
  background: rgba(255, 255, 255, 0.01);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0 0 2px rgb(255, 255, 255, 0.2));
}
